*{
  margin: 0;
  box-sizing: border-box;
  padding:0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Set core body defaults */
body {
  position: fixed;
  height: 100%;
  width: 100%;
  text-rendering: optimizeSpeed;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.white {
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 900;
  color: antiquewhite;
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.5px;
  font-size: 24px;
  user-select: none;
  color: antiquewhite;
  
}
h3:hover {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.5px;
  font-size: 24px;
  user-select: none;
  color: antiquewhite;
  
}
#rightside {
  display: grid;
  grid-template-rows: 1fr 7fr;  
  background-color: #050a18;
}

.rightheader {
  background-color: #050a18;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightheader a {
  text-decoration: none;
}

.mainnav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainnav .ul1 {
  display: flex;
  gap: 50px;
  align-items: center;
}
.ul1 li {
  animation: out2 0.2s;
}
.ul1 li:hover {
animation: in1 0.3s forwards;
}
.rightbody {
  border-left: solid #222 1px;
  overflow-y: scroll;
}
.rightbody .asukoht {
  height: 100%;
  width: 100%;
}
.asukohttoptext {
  padding: 2em;
}
.meresaun {
  padding: 2em;
}
.googlemaps {
  display: flex;
  align-self: flex-end;
}
li {
  list-style: none;
}

#leftside {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr;
  background-color: #050a18;
}

#lefttop::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50.5%;
  height: 118px;
  background: -moz-linear-gradient(left, rgba(109, 62, 34, 0.5) 10%, #050a18 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(left, rgba(109, 62, 34, 0.5) 90%, #050a18 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(109, 62, 34, 0.5) 0%, #050a18 10%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(109, 62, 34, 0.5) 0%, #050a18 10%);
  /* IE10+ */
}
#leftbody {
  display: flex;
  height: 353px;
  width: 960px;
  border: solid rgb(61, 62, 78) 1px;
  border-right: none;
  border-left: none;
  background-color: #050a18;


}

.swiper {
  height: 100%;
  z-index: -100;
}
swiper-slide img {
  width: 100%;

}

.swiper-slide:hover {

  background-color: black;
  animation: in 0.3s;
  animation-fill-mode: forwards;
}

.swiper-slide {
  user-select: none;
  animation: out 0.2s;
}

@keyframes in {
  to {
    opacity: 70%;
    transform: scale(1.01);
  }
}

@keyframes out {
  from {
    opacity: 70%;
    transform: scale(1.01);}
  to {
    transform: scale(1);
  }
}

@keyframes in1 {
  to {
    transform: scale(1.2);
  }
}

@keyframes out2 {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
#leftbottom {
  display: flex;
  background-color: #050a18;
  justify-content: center;
  border-top: solid rgb(61, 62, 78) 1px;
  padding: 2em;
}
